*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5),50%,rbga(0,0,0,0.5),50%), url(thegym.jpg);
    background-position: center;
    background-size: cover;
    height:109vh;
}